@model PagedList.IPagedList<GraceChurchKelseyvilleAwana.Models.Attendance>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
    
@{
    ViewBag.Title = "Attendance";
}

<h2>Attendance</h2>

@using (Html.BeginForm("Index", "Attendance", FormMethod.Post))
{
<table class="table">

@*
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Students.ElementAt(0).BothNames)
        </th>
        @foreach (var item in Model.Students.ElementAt(0).Attendances.OrderByDescending(x => x.AttendanceDate)) {
            <th>
                @Html.DisplayFor(modelItem => item.AttendanceDate)
            </th>
        }
    </tr>
    @foreach (var student in Model.Students.OrderBy(x => x.LastName).ThenBy(x => x.FirstName))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => student.BothNames)
            </td>
            @foreach (var attendance in student.Attendances.OrderByDescending(x => x.AttendanceDate))
            {
                @*int j = Model.Students.ElementAt(i).Attendances.ToList().IndexOf(attendance);
                <td>
                    <input type="checkbox" checked="@Model.Students[i].Attendances.ElementAt(j).Attended" Name="attendances" value=@Model.Students[i].Attendances.ElementAt(j).Attended/>
                </td>*@
@*                <td>
                    @Html.CheckBoxFor(modelItem => attendance.Attended)
                </td>
                @*int j = Model.Students.ElementAt(i).Attendances.ToList().IndexOf(attendance);*@
                @*<td>
                    @Html.CheckBoxFor(modelItem => modelItem.Students[i].Attendances.ElementAt(j).Attended)
                </td>*@
@*            }
        </tr>
    }
*@
@*    @Model.Attendances.OrderBy(x => x.Student.LastName).ThenBy(x => x.Student.FirstName).ThenByDescending(x => x.AttendanceDate)*@
    <tr>
        <th>
            @Html.DisplayNameFor(model => model[0].Student.BothNames)
        </th>
        @foreach (var item in Model.Distinct(new GraceChurchKelseyvilleAwana.Models.AttendanceViewModel.UniqueDateComparer()))
        {
            <th>
                @Html.DisplayFor(model => item.AttendanceDate)
            </th>
        }
    </tr>
    @{
        int i = 0;
        foreach (var student in Model.GroupBy(x => x.Student).OrderBy(x => x.Key.LastName).ThenBy(x => x.Key.FirstName).ToList())
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => student.Key.BothNames)
                </td>
                @for (int j = 0; j < Model.Distinct(new GraceChurchKelseyvilleAwana.Models.AttendanceViewModel.UniqueDateComparer()).Count(); i++, j++)
                {
                    <td>
                        @Html.CheckBoxFor(modelItem => modelItem[i].Attended, new { @id = "attendance_" + i })
                        @Html.HiddenFor(modelItem => modelItem[i].AttendanceDate)
                        @Html.HiddenFor(modelItem => modelItem[i].Student)
                        @Html.HiddenFor(modelItem => modelItem[i].StudentID)
                    </td>
                }
            </tr>
        }
    }

</table>
    <input type="submit" value="Save" class="btn btn-default" />
}
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))